pre{
    font-size: 1.2em;
}
.core-Brasil{color: rgb(246, 203, 13); background-color: rgb(9, 89, 14);}
.core-Pelotas{color: blue; background-color: yellow;}
.core-Farroupilha{color: green; background-color: white;}